//fonts
$font-main: "Roboto", system-ui;

//colors
$font-main-color: #fff;
$font-color-dark: #3c3c3c;
$font-nav-color: #777;
$light-theme-back-color: #fff;
$card-border-color: #e5e5e5;
$theme-border-color: rgba(0, 0, 0, 0.2);
$main-green-color: #8b5aac;
$sub-green-color: #58396d;
$false-color: #ff4b4b;
$selected-color: #0c83d3;
$selected-background-color: #ddf4ff;
$orange-color: #0c83d3;

//vars
