.paregame__header {
    padding: 20px;
    //margin-top: -50px;
    //margin-bottom: 20px;
    @media screen and (max-height: 730px) {
        padding: 10px;
      }
}
.header__heading {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading__button{
    cursor: pointer;
}

.heading__timer {
    display: flex;
    align-items: center;
    gap: 7px;

    img {
        @include iconSize;
    }
}

.timer__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 142%;
    color: $font-color-dark;
}

.heading__title {

    font-weight: 700;
    font-size: 22px;
    line-height: 142%;
    color: $font-color-dark;
}

.header__streak {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 7px;

    font-weight: 700;
    font-size: 16px;
    line-height: 142%;

    color: #000000;

    img {
        @include iconSize;
    }
}

.header__streak span {
    text-transform: uppercase;
}
